body {
    background-color: lightblue;
    width: 60%;
    margin: 100px auto 0px;
}

.welcome {
    background-color: white;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

header {
    background: white;
}

.welcome h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer a {
    color: white;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 20px 0px;
}
.label {
    min-width: 500px;
}